In [ ]:
print("hi")

hi

In [14]:
a=5
b=3
c=a+b

In [15]:
print("sum of %d and %d is %d "%(a,b,c))

sum of 5 and 3 is 8

In [17]:
print("hello"+'hi')

hellohi


Print Statement

The print statement can be used in the following different ways :

- print "Hello World"
- print "Hello", <Variable Containing the String>
- print "Hello" + <Variable Containing the String>
- print "Hello %s" % <variable containing the string>

In [ ]:
print("Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [ ]:
print('Hey')

Hey

In [ ]:


print ("""This is GMRIT

we love Python.""")

This is GMRIT

we love Python.

In [ ]:
string1 = 'World'
print ('Hello',string1)

string2 = '!'
print ('Hello', string1, string2)

Hello World
Hello World !



String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [ ]:
print ('Hello' +" "+ string1 + string2)

HelloWorld!

%s is used to refer to a variable which contains a string.

In [ ]:

print ("Hello %s" % string1)

Hello World

Similarly, when using other data types

- %s -> string
- %d -> Integer
- %f -> Float
- %o -> Octal
- %x -> Hexadecimal
- %e -> exponential

In [ ]:
print ("Hello" ,string1,string2))
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Hello World !
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

# **Variables**
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows

In [ ]:
x = 2
y = 5
xy = 'Hey'

In [ ]:
print (x+y, xy)

7 Hey

Multiple variables can be assigned with the same value and unique values.

In [ ]:
x = y = 1
print(x,y)
x,y=2,3
print(x,y)

1 1
2 3


Arithmetic Operators

Symbol 	Task Performed 

\+ Addition

\- 	Subtraction \

/ 	division

\% 	mod

\* multiplication \

// 	floor division

\** 	to the power of

In [ ]:
print(1+2)
print(1-2)
print(1*2)
print(1/2)
print(1/2.0)
# Change either numerator or denominator to float
print(12%10)
print(2.8//2.0)
print(2**3)

3
-1
2
0.5
0.5
2
1.0
8

# Bitwise Operators


---

Symbol 	Task Performed
1.   & 	Logical And
2.   | 	Logical OR
3. ^ 	XOR
1.   \>> Right shift
2.  \<< 	Left shift

In [ ]:
print (int('010',8))
print (int('0xaa',16))
print (int('1010',2))

8
170
10

In [ ]:
print (int(7.7))
print (int('7'))

7
7

Also note that function bin( ) is used for binary and float( ) for decimal/float values. chr( ) is used for converting ASCII to its alphabet equivalent, ord( ) is used for the other way round.

In [ ]:
print(chr(98))

b

In [ ]:
print(ord('b'))

98

In [ ]:
# round( ) function rounds the input value to a specified number of places or to the nearest integer.
print (round(5.6231)) 
print (round(4.55892, 2))

6
4.56

In [ ]:
#complex( ) is used to define a complex number and abs( ) outputs the absolute value of the same.
c =complex('5+2j')
print (abs(c))

5.385164807134504

In [ ]:
#divmod(x,y) outputs the quotient and the remainder in a tuple

divmod(9,2)

(4, 1)

**pow(x,y,z**) can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [ ]:
print (pow(3,3))
print (pow(3,3,5))

27
2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range.

In [ ]:

for i in range(3):
  print(i)

for i in range(5, 10):
  print(i,end=",")
  
for i in range(2, 27, 8):
  print(i)

2
10
18
26

# Accepting User Inputs
raw_input( ) accepts input and stores it as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [18]:
abc = int(input("Type something here and it will be stored in variable abc \t"))

Type something here and it will be stored in variable abc 	30

In [19]:
abc

30

In [ ]:
type(int(abc))

int

In [ ]:

# Note that type( ) returns the format or the type of a variable or a number
type(abc)

str


# Data Structures

In simple terms, It is the the collection or group of data in a particular structure.


# Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [ ]:
a = []
print (type(a))

<class 'list'>

One can directly assign the sequence of data to a list x as shown

In [ ]:
x = ['apple', 'orange','papaya']

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be papaya and index -2 will be orange.

In [ ]:

print (x[0])
print(x[-1])

apple
papaya

In [ ]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [ ]:
z  = [x,y]
print (z)

[['apple', 'orange', 'papaya'], ['carrot', 'potato']]

In [ ]:
z1 = z[0]
print(z1)

['apple', 'orange', 'papaya']

In [ ]:

print(z1[0])
print(z[0][0])

apple
apple


# Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [ ]:
num = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
print (num[0:4])
print (num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [ ]:
#You can also slice a parent list with a fixed length or step length.
num[:9:3]

[0, 3, 6]

# Built in List Functions

To find the length of the list or the number of elements in a list, len( ) is used.



If the list consists of all integer elements then min( ) and max( ) gives the minimum and maximum value in the list.


Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.



append( ) is used to add a element at the end of the list.


count( ) is used to count the number of a particular element that is present in the list.

... and many more

In [ ]:
print(len(num))
print(min(num))
print(max(num))

10
0
9

In [ ]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

In [ ]:
#There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.
names = ['Earth','Air','Fire','Water']
'Fire' in names

True

In a list with elements as string, max( ) and min( ) is applicable. max( ) would return a string element whose ASCII value is the highest and the lowest when min( ) is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [ ]:
mlist = ['bzaa','ds','nc','az','z','klm']
print(max(mlist))
print(min(mlist))

z
az

But if you want to find the max( ) string element based on the length of the string then another parameter 'key=len' is declared inside the max( ) and min( ) function

In [ ]:

print (max(names, key=len))
print (min(names, key=len))

Earth
Air

In [ ]:
#A string can be converted into a list by using the list() function


list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** is used to add a element at the end of the list.

In [26]:
lst = [1,1,4,8,7]


lst.append(1)
print (lst)

[1, 1, 4, 8, 7, 1]

**count( )** is used to count the number of a particular element that is present in the list.

In [ ]:


lst.count(1)

3

  **append( ) function** can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [ ]:
lst1 = [5,4,2,8]


lst.append(lst1)
print (lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]



But if nested list is not what is desired then extend( ) function can be used.

In [ ]:

lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8]

index( ) is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [ ]:
lst.index(1)

0

insert(x,y) is used to insert a element y at a specified index value x. append( ) function made it only possible to insert at the end.

In [ ]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8], 5, 4, 2, 8]

insert(x,y) inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [ ]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8]

In [ ]:
lst.pop()

8

In [ ]:
lst.pop(0)

1

In [ ]:
# use remove keyword to remove the element
lst.remove('Python')
print (lst)


# But we can also remove the element based on the index using del keyword

del lst[1]
print (lst)

[1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]
[1, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

In [ ]:
#The entire elements present in the list can be reversed by using the reverse() function.
lst.reverse()
print(lst)

[2, 4, 5, [5, 4, 2, 8], 1, 7, 8, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

In [1]:
list2=[5,4,1,9,8,3]

In [2]:
#Python offers built in operation sort( ) to arrange the elements in ascending order.
list2.sort()
print (list2)


# for reversing sorting process ser reverse to true, by default reverse is set to true

list2.sort(reverse=True)
print (list2)

[1, 3, 4, 5, 8, 9]
[9, 8, 5, 4, 3, 1]

In [ ]:
# Copying a list
lista= [2,1,4,3]
listb = lista
print (listb)

[2, 1, 4, 3]

# Tuples


Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values.

In [ ]:
# For better understanding, Recall divmod() function.
xyz = divmod(10,3)
print (xyz)
print (type(xyz))

(3, 1)
<class 'tuple'>

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple

In [ ]:
# To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

tup = ()
tup2 = tuple()

# If you want to directly declare a tuple it can be done by using a comma at the end of the data.

27,

(27,)

In [71]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

The empty tuple is written as two parentheses containing nothing 


To write a tuple containing a single value you have to include a comma, even though there is only one value

In [2]:
tup1 = ()

tup1 = (50,)

In [74]:
tup1[0]='maths'

TypeError: ignored

Tuples are immutable which means you cannot update or change the values of tuple elements.

You are able to take portions of existing tuples to create new tuples as the following example demonstrates

In [8]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

(12, 34.56, 'abc', 'xyz')

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [75]:


tup3 = tuple([1,2,3])
print (tup3)
tup4 = tuple('Hello')
print (tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

In [ ]:
# It follows the same indexing and slicing as Lists.
print (tup3[1])
tup5 = tup4[:3]
print (tup5)

2
('H', 'e', 'l')

In [ ]:
# Mapping One tuple to another
(a,b,c)= ('alpha','beta','gamma')
print(a,b,c)

alpha beta gamma


# Built In Tuple functions

count() function counts the number of specified element that is present in the tuple.

In [27]:
d = tuple('Mallikarjunarao')
print(d)
print(d.count('a'))

('M', 'a', 'l', 'l', 'i', 'k', 'a', 'r', 'j', 'u', 'n', 'a', 'r', 'a', 'o')
4

In [28]:
d.index('a')

1

[link text](https://drive.google.com/file/d/1aM4i5P7MbJjrBn1ATSnE-d4Q68iEhTMZ/view?usp=sharing)

**cmp(tuple1, tuple2)** ---- Compares elements of both tuples.


**len(tuple)** ------ Gives the total length of the tuple.


**max(tuple)**  ------ Returns item from the tuple with max value.


**min(tuple)**  ------  Returns item from the tuple with min value.

**tuple(seq)**  ------ Converts a list into tuple.


# Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [ ]:
set1 = set()
print (type(set1))

<class 'set'>

In [ ]:
set0 = set([1,2,2,3,3,4])
print (set0)

{1, 2, 3, 4}

In [59]:
print(set('hello'))

{'o', 'h', 'e', 'l'}

# Built-in Functions

In [61]:
set1 = set([1,2,3])
set2 = set([2,3,4,5])

In [62]:

print(set1)
set1.add(0)
print(set1)

{1, 2, 3}
{0, 1, 2, 3}

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [66]:
set1 = set([0,1,2,3])
set2 = set([2,3,4,5])
print(set1.union(set2))
print(set1|set2)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}

In [67]:
set1.update(set2)
print(set1)

{0, 1, 2, 3, 4, 5}

In [92]:
set11 = {"a", "b" , "c"}
set12 = {1, 2, 3}

set11.update(set12)
print(set11)

{'a', 1, 'c', 2, 3, 'b'}

In [68]:
set1 = set([0,1,2,3])
set2 = set([2,3,4,5])
print(set1.intersection(set2))
print(set1&set2)

print(set1.difference(set2))
print(set1-set2)

set1.intersection_update(set2)
print(set1)

{2, 3}
{2, 3}
{0, 1}
{0, 1}
{2, 3}

In [33]:
#symmetric_difference( ) function ouputs a function which contains elements that are in one of the sets
''' Symmetric Difference of A and B is a set of elements in A and B but not in both '''
set1 = set([0,1,2,3])
set2 = set([2,3,4,5])
print(set2.symmetric_difference(set1))
print(set2 ^ set1)
print(set2)
set2.symmetric_difference_update(set1)
print(set2)

{0, 1, 4, 5}
{0, 1, 4, 5}
{2, 3, 4, 5}
{0, 1, 4, 5}

issubset( ), isdisjoint( ), issuperset( ) is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [19]:
set1 = set([2,3])
set2 = set([2,3,4,5])
print(set1.issubset(set2))

print(set2.isdisjoint(set1))
''' Returns True if two sets have a null intersection '''

print(set2.issuperset(set1))

True
False
True

**pop( )** is used to remove an arbitrary element in the set

In [28]:
set1 = set({2,3,4,5})
set1.pop()
print(set1)

{3, 4, 5}

**remove( )** function deletes the specified element from the set.

In [29]:
set1.remove(3)
print(set1)

#  clear( ) is used to clear all the elements and make that set an empty set.


set1.clear()
print(set1)

{4, 5}
set()

**Python has a set of built-in methods that you can use on sets.**

**add()**	--- Adds an element to the set

**clear()**	-- Removes all the elements from the set

**copy()**	-- Returns a copy of the set

**difference()** -- Returns a set containing the difference between two or more sets

**difference_update()**	-- Removes the items in this set that are also included in another, specified set

**discard()**	-- Remove the specified item

**intersection()**	-- Returns a set, that is the intersection of two other sets

**intersection_update()**	-- Removes the items in this set that are not present in other, specified set(s)

**isdisjoint()**	-- Returns whether two sets have a intersection or not

**issubset()**	-- Returns whether another set contains this set or not

**issuperset()** --	Returns whether this set contains another set or not

**pop()**	-- Removes an element from the set

**remove()** --	Removes the specified element

**symmetric_difference()**	-- Returns a set with the symmetric differences of two sets

**symmetric_difference_update()**	-- inserts the symmetric differences from this set and another

**union()**	-- Return a set containing the union of sets

**update()** -- Update the set with the union of this set and others


# Strings

Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [79]:
String0 = 'This is GMRIT'
String1 = "This is GMRIT"
String2 = '''This
is
GMRIT'''

In [80]:
print (String0 , type(String0))
print (String1, type(String1))
print (String2, type(String2))

This is GMRIT <class 'str'>
This is GMRIT <class 'str'>
This
is
GMRIT <class 'str'>

String Indexing and Slicing are similar to Lists

In [17]:
print (String0[3])
print (String0[1:])

s
his is GMRIT


**Built-in Function**s

find( ) function returns the index value of the given data that is to found in the string. If it is not found it returns -1. Remember to not confuse the returned -1 for reverse indexing value.

In [18]:
print (String0.find('GMR'))
print (String0.find('is'))

8
2

In [19]:
#One can also input find( ) function between which index values it has to search.

print (String0.find('GMR',1))
print (String0.find('GMR',1,3))

8
-1

In [20]:
#capitalize( ) is used to capitalize the first element in the string.
String3 = 'observe the first letter in this sentence.'
print (String3.capitalize())

#center( ) is used to center align the string by specifying the field width.
print(String0.center(70))
print(String0.center(70,'-'))

#zfill( ) is used for zero padding by specifying the field width.
print(String0.zfill(30))

Observe the first letter in this sentence.
                            This is GMRIT
----------------------------This is GMRIT-----------------------------
00000000000000000This is GMRIT

In [21]:
#endswith( ) function is used to check if the given string ends with the particular char which is given as input.
print (String0.endswith('y'))

#The start and stop index values can also be specified.
print (String0.endswith('l',0))
print (String0.endswith('M',0,5))

False
False
False

count( ) function counts the number of char in the given string. The start and the stop index can also be specified or left blank. (These are Implicit arguments which will be dealt in functions)

In [22]:
print (String0.count('a',0))
print (String0.count('a',5,10))

0
0

In [23]:
#join( ) function is used add a char in between the elements of the input string.

'a'.join('*_-')

'*a_a-'

In [25]:
str1='high'
str2='school'
print(str1.join(str2))

shighchighhhighohighohighl

join( ) function can also be used to convert a list into a string.

In [82]:
a = list(String0)
print(a)
b = ''.join(a)
print(b)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'G', 'M', 'R', 'I', 'T']
This is GMRIT

split( ) function is used to convert a string back to a list. Think of it as the opposite of the join() function.

In [85]:
c="GMRIT is our college in Rajam"
d = c.split(' ')
print (d)

['GMRIT', 'is', 'our', 'college', 'in', 'Rajam']

In [29]:
#In split( ) function one can also specify the number of times you want to split the string or the number of elements the new returned list should contain
e = c.split(' ',3)
print (e)
print (len(e))

['GMRIT', 'is', 'our', 'college in Rajam']
4

lower( ) converts any capital letter to small letter.

upper( ) converts any small letter to capital letter.

replace( ) function replaces the element with another element.

In [31]:
print (String0)
print (String0.lower())

print(String0.upper())

print(String0.replace('GMR','GGG'))

This is GMRIT
this is gmrit
THIS IS GMRIT
This is GGGIT

strip( ) function is used to delete elements from the right end and the left end which is not required.

If no char is specified then it will delete all the spaces that is present in the right and left hand side of the data.

In [32]:
f = '    hello      '


f.strip()

'hello'

In [34]:
#strip( ) function, when a char is specified then it deletes that char if it is present in the two ends of the specified string.




f = '   ***----hello---*******     '
print(f.strip('*'))

   ***----hello---*******



The asterisk had to be deleted but is not. This is because there is a space in both the right and left hand side. So in strip function. The characters need to be inputted in the specific order in which they are present.

In [35]:


print (f.strip(' *'))
print (f.strip(' *-'))

----hello---
hello



lstrip( ) and rstrip( ) function have the same functionality as strip function but the only difference is lstrip( ) deletes only towards the left side and rstrip( ) towards the right.

In [38]:
print (f.lstrip(' *'))
print (f.rstrip(' *'))

----hello---*******
   ***----hello---


# **Dictionaries**

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [39]:


d0 = {}
d1 = dict()
print (type(d0), type(d1))

<class 'dict'> <class 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [42]:


d0['One'] = 1
d0['OneTwo'] = 12 
print (d0)

{'One': 1, 'OneTwo': 12}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [44]:
print (d0['One'])

1

Two lists which are related can be merged to form a dictionary.


zip( ) function is used to combine two lists

In [64]:


names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

d2 = zip(names,numbers)
print (d2)

<zip object at 0x7f72cc6db348>

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. dict( ) function is used.

In [65]:
a1 = dict(d2)
print (a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}


**Built-in Functions**

clear( ) function is used to erase the entire database that was created.

In [66]:
a1.clear()
print (a1)

{}

In [67]:
#Dictionary can also be built using loops.
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print (a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [68]:
#values( ) function returns a list with all the assigned values in the dictionary.
print(a1.values())

#keys( ) function returns all the index or the keys to which contains the values that it was assigned to.
print(a1.keys())

dict_values([1, 2, 3, 4, 5])
dict_keys(['One', 'Two', 'Three', 'Four', 'Five'])

items( ) is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [69]:
print(a1.items())

dict_items([('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)])

pop( ) function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [70]:
a2 = a1.pop('Four')
print (a1)
print (a2)

{'One': 1, 'Two': 2, 'Three': 3, 'Five': 5}
4

# Control Flow Statements

In [ ]:
x = 12
if x >10:
    print ("Hello")

In [ ]:
x = 12
if x > 10:
    print "hello"
else:
    print "world"

In [ ]:


x = 10
y = 12
if x > y:
    print "x>y"
elif x < y:
    print "x<y"
else:
    print "x=y"


**Loops**

In [69]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print list1

In [ ]:
#A use case of a nested for loop in this case would be,

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    for x in list1:
        print x

In [ ]:


i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

In [ ]:
# Break
# As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

for i in range(100):
    print i
    if i>=7:
        break

In [ ]:
# Continue

#This continues the rest of the loop. 
#Sometimes when a condition is satisfied there are chances of the loop getting terminated. 
#This can be avoided using continue statement

for i in range(10):
    if i>4:
        print "The end."
        continue
    elif i<7:
        print i


# **Functions**

Most of the times, In a algorithm the statements keep repeating and it will be a tedious job to execute the same statements again and again and will consume a lot of memory and is not efficient. Enter Functions.

This is the basic syntax of a function

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
print ("Hey GMRIT!")
print ("GMRIT, How do you do?")



Instead of writing the above two statements every single time it can be replaced by defining a function which would do the job in just one line.

Defining a function firstfunc().

In [ ]:
def firstfunc():
    print ("Hey GMRIT!")
    print "GMRIT, How do you do?"

In [ ]:
'''Calling a function'''
firstfunc()

We can make our function firstfunc() to accept arguments which will store the name and then prints respective to that accepted name

In [73]:
def firstfunc(username):
    print ("Hey", username + '!')
    print (username + ',' ,"How do you do?")
name1 = input('Please enter your name : ')

Please enter your name : GMRIT

In [74]:
firstfunc(name1)

Hey GMRIT!
GMRIT, How do you do?

Let us simplify this even further by defining another function secondfunc() which accepts the name and stores it inside a variable and then calls the firstfunc() from inside the function itself.

In [76]:


def firstfunc(username):
    print ("Hey", username + '!')
    print (username + ',' ,"How do you do?")
def secondfunc():
    name = input("Please enter your name : ")
    firstfunc(name)

In [77]:
secondfunc()

Please enter your name : GMR
Hey GMR!
GMR, How do you do?


**Return Statement**

When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, return statement is used.

In [78]:
def times(x,y):
    z = x*y
    return z



c = times(4,5)
print (c)

20

Multiple variable can also be returned, But keep in mind the order.

In [79]:
eglist = [10,50,30,12,6,8,100]
def egfunc(eglist):
    highest = max(eglist)
    lowest = min(eglist)
    first = eglist[0]
    last = eglist[-1]
    return highest,lowest,first,last

In [80]:
egfunc(eglist)

(100, 6, 10, 100)

In [82]:
a,b,c,d = egfunc(eglist)
print (' a =',a,'\n b =',b,'\n c =',c,'\n d =',d)

 a = 100
 b = 6
 c = 10
 d = 100


**Implicit arguments**

When an argument of a function is common in majority of the cases or it is "implicit" this concept is used

In [83]:
def implicitadd(x,y=3):
    return x+y

In [84]:
# Now if the second argument is not defined when calling the implicitadd( ) function then it considered as 3.
implicitadd(4)

7

In [85]:
#But if the second argument is specified then this value overrides the implicit value assigned to the argument
implicitadd(4,4)

8


**Any number of arguments**

If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the argument.

In [87]:
def add_n(*args):
    res = 0
    reslist = []
    for i in args:
        reslist.append(i)
    print (reslist)
    return sum(reslist)

The above function accepts any number of arguments, defines a list and appends all the arguments into that list and return the sum of all the arguments.

In [88]:
print(add_n(1,2,3,4,5))

print(add_n(1,2,3))

[1, 2, 3, 4, 5]
15
[1, 2, 3]
6


**Global and Local Variables**

Whatever variable is declared inside a function is local variable and outside the function in global variable.

In [91]:
eg1 = [1,2,3,4,5]
'''In the below function we are appending a element to the declared list inside the function. 
eg2 variable declared inside the function is a local variable'''
def egfunc1():
    def thirdfunc(arg1):
        eg2 = arg1[:]
        eg2.append(6)
        print ("This is happening inside the function :", eg2) 
    print ("This is happening before the function is called : ", eg1)
    thirdfunc(eg1)
    print ("This is happening outside the function :", eg1)  
    print ("Accessing a variable declared inside the function from outside :" , eg2)

In [92]:


egfunc1()

This is happening before the function is called :  [1, 2, 3, 4, 5]
This is happening inside the function : [1, 2, 3, 4, 5, 6]
This is happening outside the function : [1, 2, 3, 4, 5]
Accessing a variable declared inside the function from outside : <map object at 0x7ffb24b6bc88>

In [94]:
def egfunc1():
    def thirdfunc(arg1):
        global eg2
        eg2 = arg1[:]
        eg2.append(6)
        print ("This is happening inside the function :", eg2) 
    print ("This is happening before the function is called : ", eg1)
    thirdfunc(eg1)
    print ("This is happening outside the function :", eg1   )
    print ("Accessing a variable declared inside the function from outside :" , eg2)

In [95]:
egfunc1()

This is happening before the function is called :  [1, 2, 3, 4, 5]
This is happening inside the function : [1, 2, 3, 4, 5, 6]
This is happening outside the function : [1, 2, 3, 4, 5]
Accessing a variable declared inside the function from outside : [1, 2, 3, 4, 5, 6]

**Pass** 

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the **pass** statement to avoid getting an error.

In [ ]:
def myfunction():
  pass


**Lambda Functions**

These are small functions which are not defined with any name and carry a single expression whose result is returned. Lambda functions comes very handy when operating with lists. These function are defined by the keyword lambda followed by the variables, a colon and the respective expression.

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

lambda *arguments* : *expression*


The expression is executed and the result is returned:

In [96]:
z = lambda x: x * 10

In [97]:
z(8)

80

A lambda function that multiplies argument a with argument b and print the result:

In [1]:
x = lambda a, b : a * b
print(x(5, 6))

30

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [2]:
def myfunc(n):
  return lambda a : a * n 

mydoubler = myfunc(2)

print(mydoubler(11))

22

Or, use the same function definition to make a function that always triples the number you send in:

In [ ]:
mytripler = myfunc(3)

print(mytripler(11))


**map**

map( ) function basically executes the function that is defined to each of the list's element separately

The map() function in python has the following syntax:

map(func, *iterables)

Where func is the function on which each element in iterables (as many as they are) would be applied on.

In [98]:
list1 = [1,2,3,4,5,6,7,8,9]


eg = map(lambda x:x+2, list1)
print(list(eg))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [99]:
'''You can also add two lists.'''
list2 = [9,8,7,6,5,4,3,2,1]
eg2 = map(lambda x,y:x+y, list1,list2)
print (list(eg2))

[10, 10, 10, 10, 10, 10, 10, 10, 10]

In [100]:
'''Not only lambda function but also other built in functions can also be used.'''
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1,7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]


**filter**

filter( ) function is used to filter out the values in a list. Note that filter() function returns the result in a new list.

While map() passes each element in the iterable through a function and returns the result of all elements having passed through the function, filter(), first of all, requires the function to return boolean values (true or false) and then passes each element in the iterable through the function, "filtering" away those that are false. It has the following syntax:

filter(func, iterable)

In [53]:


list1 = [1,2,3,4,5,6,7,8,9]

'''To get the elements which are less than 5,'''
a=filter(lambda x:x<5,list1)
print(list(a))

[1, 2, 3, 4]

In [ ]:
'''Notice what happens when map() is used.'''
map(lambda x:x<5, list1)

We can conclude that, whatever is returned true in map( ) function that particular element is returned when filter( ) function is used.

In [54]:
list(filter(lambda x:x%4==0,list1))

[4, 8]


# **Classes**

Variables, Lists, Dictionaries etc in python is a object. Without getting into the theory part of Object Oriented Programming, explanation of the concepts will be done along this tutorial.

A class is declared as follows

class class_name:

      Functions

In [ ]:
class FirstClass:
    pass

'''pass in python means do nothing.'''

Above, a class object named "FirstClass" is declared now consider a "egclass" which has all the characteristics of "FirstClass". So all you have to do is, equate the "egclass" to "FirstClass". In python this is called as creating an instance. "egclass" is the instance of "FirstClass"

In [ ]:
egclass = FirstClass()


print(type(egclass))
print(type(FirstClass))

Now let us add some "functionality" to the class. So that our "FirstClass" is defined in a better way. A function inside a class is called as a "Method" of that class

Most of the classes will have a function named "__init__". These are called as magic methods. In this method you basically initialize the variables of that class or any other initial algorithms which is applicable to all methods is specified in this method. A variable inside a class is called an attribute.




These helps simplify the process of initializing a instance. For example,

Without the use of magic method or __init__ which is otherwise called as constructors. One had to define a init( ) method and call the init( ) function.

In [ ]:


eg0 = FirstClass()
eg0.init()



But when the constructor is defined the __init__ is called thus intializing the instance created.

We will make our "FirstClass" to accept two variables name and symbol.
I will be explaining about the "self" in a while.

In [ ]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

Now that we have defined a function and added the __init__ method. We can create a instance of FirstClass which now accepts two arguments.

In [ ]:


eg1 = FirstClass('one',1)
eg2 = FirstClass('two',2)

In [ ]:


print eg1.name, eg1.symbol
print eg2.name, eg2.symbol

dir( ) function comes very handy in looking into what the class contains and what all method it offers

In [ ]:
dir(FirstClass)

dir( ) of an instance also shows it's defined attributes.

In [ ]:


dir(eg1)

In [ ]:
'''Changing the FirstClass function a bit,'''


class FirstClass:
    def __init__(self,name,symbol):
        self.n = name
        self.s = symbol

''' Changing self.name and self.symbol to self.n and self.s respectively will yield,'''
eg1 = FirstClass('one',1)
eg2 = FirstClass('two',2)
print (eg1.name, eg1.symbol)
print (eg2.name, eg2.symbol)

AttributeError, Remember variables are nothing but attributes inside a class? So this means we have not given the correct attribute for the instance.

In [ ]:
print(dir(eg1))


print (eg1.n, eg1.s)
print (eg2.n, eg2.s)

So now we have solved the error. Now let us compare the two examples that we saw.

When I declared self.name and self.symbol, there was no attribute error for eg1.name and eg1.symbol and when I declared self.n and self.s, there was no attribute error for eg1.n and eg1.s

From the above we can conclude that self is nothing but the instance itself.

Remember, self is not predefined it is userdefined. You can make use of anything you are comfortable with. But it has become a common practice to use self.

In [ ]:
class FirstClass:
    def __init__(asdf1234,name,symbol):
        asdf1234.n = name
        asdf1234.s = symbol



eg1 = FirstClass('one',1)
eg2 = FirstClass('two',2)

print eg1.n, eg1.s
print eg2.n, eg2.s



Since eg1 and eg2 are instances of FirstClass it need not necessarily be limited to FirstClass itself. It might extend itself by declaring other attributes without having the attribute to be declared inside the FirstClass.

In [ ]:
eg1.cube = 1
eg2.cube = 8

dir(eg1)



Just like global and local variables as we saw earlier, even classes have it's own types of variables.

Class Attribute : attributes defined outside the method and is applicable to all the instances.

Instance Attribute : attributes defined inside a method and is applicable to only that method and is unique to each instance.

In [ ]:
class FirstClass:
    test = 'test'
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

In [ ]:
''' Here test is a class attribute and name is a instance attribute.'''
eg3 = FirstClass('Three',3)
print eg3.test, eg3.name

In [ ]:
''' Let us add some more methods to FirstClass. '''

class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol
    def square(self):
        return self.symbol * self.symbol
    def cube(self):
        return self.symbol * self.symbol * self.symbol
    def multiply(self, x):
        return self.symbol * x

eg4 = FirstClass('Five',5)



print eg4.square()
print eg4.cube()



print(eg4.multiply(2))

''' The above can also be written as,'''
print(FirstClass.multiply(eg4,2))

# **File Handling**

Python has several functions for creating, reading, updating, and deleting files.

The key function for working with files in Python is the **open**() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:



"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode


"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

To open a file for reading it is enough to specify the name of the file:

**f = open("demofile.txt") is same as f = open("demofile.txt", "rt") because "r" for read, and "t" for text are the default values, you do not need to specify them.**

**File Open**

In [ ]:
f = open("demofile.txt", "r")
print(f.read()) 

''' this works if we have the above file, located in the same folder'''
''' But If the file is located in a different location, you will have to specify the file path'''
f = open("D:\\myfiles\welcome.txt", "r")
print(f.read())

To read only part of the file, specify how many characters you want to return:

In [ ]:
f = open("demofile.txt", "r")
print(f.read(5))

Read Lines

You can return one line by using the readline() method:

In [ ]:
f = open("demofile.txt", "r")
print(f.readline()) 

'''By calling readline() two times, you can read the two first lines:'''
f = open("demofile.txt", "r")
print(f.readline())
print(f.readline())

By **looping** through the lines of the file, **you can read the whole file, line by line:**

In [ ]:
f = open("demofile.txt", "r")
for x in f:
  print(x)

It is a good practice to always close the file when you are done with it.

In [ ]:
f = open("demofile.txt", "r")
print(f.readline())
f.close()

**Write to an Existing File**

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

In [ ]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

In [ ]:
''' overwriting the content '''
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the appending:
f = open("demofile3.txt", "r")
print(f.read())

**Create a New File**

To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist

"a" - Append - will create a file if the specified file does not exist

"w" - Write - will create a file if the specified file does not exist

In [ ]:
f = open("myfile.txt", "x")
# or 
f = open("myfile.txt", "w")

**Delete a File**

To delete a file, you must import the OS module, and run its os.remove() function

In [ ]:
import os
os.remove("demofile.txt")

**Exception Handling**

In [3]:
def divide_numbers(a,b):
  return a/b

divide_numbers(10,2)

5.0

In [4]:
divide_numbers(10,0)

ZeroDivisionError: ignored

In [5]:
'''Now let's handle the exception in our function'''
def divide_numbers(a,b):
  try:
    d = a/b
  except ZeroDivisionError as e:
    print(e)
    d = None
  return d

In [6]:
divide_numbers(10,0)

division by zero


Handling multiple exceptions

In [10]:
x=input("Enter number 1:")
y=input("Enter number 2:")
divide_numbers(x,y)

Enter number 1:10
Enter number 2:4

TypeError: ignored

In [11]:


def divide_numbers(a,b):
  try:
    d = a/b
  except TypeError as e:
    print(e)
    d = None
  except ZeroDivisionError as e:
    print(e)
    d = None

Lets make the function fully functional by converting string to float

In [17]:

def divide_numbers(a,b):
  try:
    d = float(a)/float(b)
  except TypeError as e:
    print(e)
    d = None
  except ZeroDivisionError as e:
    print(e)
    d = None
  return d

In [18]:
x=input("Enter number 1:")
y=input("Enter number 2:")
print(divide_numbers(x,y))

Enter number 1:10
Enter number 2:4
2.5

**Catching all exceptions**

In [19]:
def divide_numbers(a,b):
  try:
    d = float(a)/float(b)
  except Exception as e:
    print("Exception occured!")
    d = None
  return d

In [20]:
divide_numbers(10,0)

Exception occured!

In [21]:
divide_numbers('abc',0)

Exception occured!

**Raising exception**

In [22]:
def get_grade(score):
  if score>70:
    return "A"
  if score>=50 and score<=70:
    return "B"
  if score<50:
    return "C"

In [ ]:
get_grade(90)

In [ ]:
get_grade(200)

Here the max test score is 100. So passing 200 as a parameter to this function is clearly invalid. So we should raise an alert

In [27]:
def get_grade(score):
  if score<0 or score>100:
    raise ValueError("Invalid score")

  if score>70:
    return "A"
  if score>=50 and score<=70:
    return "B"
  if score<50:
    return "C"

In [28]:
get_grade(200)

TypeError: ignored